body {
	margin: 0px;
	background-image: url("img/danau-singkarak-ok.jpg");
	background-color: #333;
}

h1 {
	font-size: 40px;
}

.bg-image {
	height: 100%;
	position: absolute;
	z-index: -5;
}

.wrapper {
	height: 100%;
	text-align: center;
	color: white;
	font-family: sans-serif;
}

.center {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 90%;
}